body {
    background-color: #c7f9cc;
    margin-top: 135px;
    margin-bottom: 30;
}
header {
    display: flex;
    width: 95.5vw;
    height: 125px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
     
}
#logo {
    display: flex;
    height: 20vh;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
p {
    text-align: center;
    font-size: 3vh;
}
.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38A385;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 50cap;
    width: 18vh;
    height: 18vh;
    border: solid 2px white;
    border-color: white;
}

div {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4vh;
    color: #c7f9cc;
    border: solid 2px white;
    background-color: #38A385;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 3cap;
    

}
#introduction {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    height: auto;
}

a {
    color: #c7f9cc;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color:white; 
    text-decoration:none; 
    cursor:pointer;  
}
#PartOfPage {
    width: 50vw;
}
#footer {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;

}
#showcaseDiv {
    display: flex;
    flex-direction: column;
    height: 95%;
    overflow: hidden;
    border-radius: 1cap;
}
#showcaseImage {
    width: 70vw;
    border: solid white 5px;
    border-radius: 3cap;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}
#showcaseImage img {
    object-fit: contain;
}
#showcase {
    display: flex;
    align-content: center;
    height: 40vh;
    font-size: 50px;
}
#faq {
    height: auto;
    display: flex;
    flex-direction: column;
}


/* 38A385 */