body {
    background-color: #c7f9cc;
}
header {
    display: flex;
    width: 95.5vw;
    height: 125px;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-bottom: 50px;
     
}
#logo {
    display: flex;
    height: 20vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.navItem {
    display: flex;
    justify-content: center;
    background-color: #38A385;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: .5cap;
    width: 15vh;
    height: 3vh;
    border: solid 2px white;
    border-color: white;
}

div {
    display: flex;
    width: auto;
    height: 80vh;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3vh;
    color: #c7f9cc;
    border: #38A385;
    background-color: #38A385;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 3cap;
    

}

a {
    color: #c7f9cc;
    text-decoration: none;
}

a:hover {
    color:white; 
    text-decoration:none; 
    cursor:pointer;  
}
#PartOfPage {
    width: 50vw;
}

/* 38A385 */